@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wait List";
}

@model List<EnterTaskSubmission>
    
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <!--These are column names for the table view-->
        <tr>
            <td>Category</td>
            <td>Task</td>
            <td>DueDate</td>
            <td>Quadrant</td>
            <td>Completed</td>

        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <!--These are field values for the table view-->
        <tr>
            @*<td>@x.Category.CategoryName</td>*@
            <td>@x.Task</td>
            <td>@x.DueDate</td>
            <td>@x.Quadrant</td>
            <td>@x.Completed</td>
            <!--These are buttons for the user to edit or delete a record-->
            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></td>
        </tr>
        }
    </tbody>

</table>